.Navigation {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.Pagination {
  --swiper-pagination-bullet-inactive-color: #fefefe;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-color: var(--tertriary);
}

.Pagination .swiper-pagination {
  transform: translateX(-50%);
  left: 50%;
  width: auto;
}